
---
import Layout from '../layouts/booklet.astro';
import TabOne from '../components/booklet/tabs/one.astro';
import TabTwo from '../components/booklet/tabs/two.astro';
import TabThree from '../components/booklet/tabs/three.astro';
---
<Layout>
  <div class="tabs">
    <TabOne colorScheme="" />
    <TabTwo colorScheme="" />
    <TabThree colorScheme="" />
  </div>
</Layout>
