.header {
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  background: inherit;
  justify-content: space-between;
  @media (min-width:768px) and (orientation:landscape) {
    z-index: 2;
    width: 100%;
    right: 15px;
  }
}

.active, li a:hover {
  border-bottom: 2px solid;
  padding-bottom:8px;
}

.desktop-nav {
  display: none;

  @media (min-width:768px) and (orientation:landscape) {
    display: inline-block;
    ul {
      display: flex;
      justify-content: flex-end;
    }
    li {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

.mobile-menu-button {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 50px;
  transition-delay: 0.4s;
  transition-duration: 0.7s;
  transform: translate(0px, 0%);
  @media (min-width:768px) and (orientation:landscape) {
    display: none;
  }
}

#draw-is-closed,
#draw-is-open {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    overflow: hidden
}

#draw-is-open:before {
  transform: rotate(45deg) translateZ(0);
}

#draw-is-open:after {
  transform: rotate(-45deg) translateZ(0);
}

#draw-is-closed:before {
  transform: translate3d(0, 5px, 0)
}

#draw-is-closed:after {
  transform: translate3d(0, -5px, 0)
}

#draw-is-closed:after,
#draw-is-closed:before,
#draw-is-open:after,
#draw-is-open:before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    width: 20px;
    height: 2px;
    background-color: var(--fg)
}