---
import Layout from '../layouts/typography.astro';
---
<style lang="scss">
  .main {
    min-height: 100vh; height: 100%; margin: 8px; padding: 15px;
  }
  section {
    padding: 5px 15px 5px 15px;
  }
  .inverted {
    background: var(--black);
    color: var(--white)
  }
  .belleza {
    h2, p { font-family: 'Belleza'}
  }
  .roboto {
    h2, p { font-family: 'roboto'}
  }
  .raleway {
    h2, p { font-family: 'Raleway' }
  }
  .opensans {
    h2, p { font-family: 'Open Sans' }
  }
  .vollkorn {
    h2, p { font-family: 'vollkorn' }
  }
  .gentium {
    h2, p { font-family: 'gentium book basic' }
  }
  .lato {
    h2, p { font-family: 'Lato' }
  }
  .cormorant {
    h2, p { font-family: 'Cormorant Garamond' }
  }
  .ibm {
    h2, p { font-family: 'IBM Plex Sans', sans-serif; }
  }
  .oswald {
    h2, p { font-family: 'Oswald' }
  }
</style>

<Layout>
  <main class="main">
    <article class="belleza">
      <section class="inverted">
        <h2>Belleza</h2>
      </section>
      <section>
        <p>The earliest written record of the area is in the Domesday Book (1086).[13] Settlement in medieval Todmorden was dispersed, most people living in scattered farms or in isolated hilltop agricultural settlements. Packhorse trails were marked by ancient stones, of which many still survive.</p>
        <p>For hundreds of years streams from the surrounding hills provided water for corn and fulling mills. Todmorden grew to relative prosperity by combining farming with the production of woollen textiles. Some yeomen clothiers were able to build fine houses, a few of which still exist today. Increasingly, though, the area's industry turned to cotton. The proximity of Manchester, as a source of material and trade, was undoubtedly a strong factor. Another was that the strong Pennine streams and rivers were able to power the machine looms. Improvements in textile machinery (by Kay, Hargreaves and Arkwright), along with the development of turnpike roads (1751–1781), helped to develop the new cotton industry and to increase the local population..</p>
      </section>
    </article>
    <article class="oswald">
      <section class="inverted">
        <h2>Oswald</h2>
      </section>
      <section>
        <p>The earliest written record of the area is in the Domesday Book (1086).[13] Settlement in medieval Todmorden was dispersed, most people living in scattered farms or in isolated hilltop agricultural settlements. Packhorse trails were marked by ancient stones, of which many still survive.</p>
        <p>For hundreds of years streams from the surrounding hills provided water for corn and fulling mills. Todmorden grew to relative prosperity by combining farming with the production of woollen textiles. Some yeomen clothiers were able to build fine houses, a few of which still exist today. Increasingly, though, the area's industry turned to cotton. The proximity of Manchester, as a source of material and trade, was undoubtedly a strong factor. Another was that the strong Pennine streams and rivers were able to power the machine looms. Improvements in textile machinery (by Kay, Hargreaves and Arkwright), along with the development of turnpike roads (1751–1781), helped to develop the new cotton industry and to increase the local population..</p>
      </section>
    </article>
    <article class="ibm">
      <section class="inverted">
        <h2>Ibm</h2>
      </section>
      <section>
        <p>The earliest written record of the area is in the Domesday Book (1086).[13] Settlement in medieval Todmorden was dispersed, most people living in scattered farms or in isolated hilltop agricultural settlements. Packhorse trails were marked by ancient stones, of which many still survive.</p>
        <p>For hundreds of years streams from the surrounding hills provided water for corn and fulling mills. Todmorden grew to relative prosperity by combining farming with the production of woollen textiles. Some yeomen clothiers were able to build fine houses, a few of which still exist today. Increasingly, though, the area's industry turned to cotton. The proximity of Manchester, as a source of material and trade, was undoubtedly a strong factor. Another was that the strong Pennine streams and rivers were able to power the machine looms. Improvements in textile machinery (by Kay, Hargreaves and Arkwright), along with the development of turnpike roads (1751–1781), helped to develop the new cotton industry and to increase the local population..</p>
      </section>
    </article>
    <article class="cormorant">
      <section class="inverted">
        <h2>Cormorant</h2>
      </section>
      <section>
        <p>The earliest written record of the area is in the Domesday Book (1086).[13] Settlement in medieval Todmorden was dispersed, most people living in scattered farms or in isolated hilltop agricultural settlements. Packhorse trails were marked by ancient stones, of which many still survive.</p>
        <p>For hundreds of years streams from the surrounding hills provided water for corn and fulling mills. Todmorden grew to relative prosperity by combining farming with the production of woollen textiles. Some yeomen clothiers were able to build fine houses, a few of which still exist today. Increasingly, though, the area's industry turned to cotton. The proximity of Manchester, as a source of material and trade, was undoubtedly a strong factor. Another was that the strong Pennine streams and rivers were able to power the machine looms. Improvements in textile machinery (by Kay, Hargreaves and Arkwright), along with the development of turnpike roads (1751–1781), helped to develop the new cotton industry and to increase the local population..</p>
      </section>
    </article>
    <article class="gentium">
      <section class="inverted">
        <h2>Gentium</h2>
      </section>
      <section>
        <p>The earliest written record of the area is in the Domesday Book (1086).[13] Settlement in medieval Todmorden was dispersed, most people living in scattered farms or in isolated hilltop agricultural settlements. Packhorse trails were marked by ancient stones, of which many still survive.</p>
        <p>For hundreds of years streams from the surrounding hills provided water for corn and fulling mills. Todmorden grew to relative prosperity by combining farming with the production of woollen textiles. Some yeomen clothiers were able to build fine houses, a few of which still exist today. Increasingly, though, the area's industry turned to cotton. The proximity of Manchester, as a source of material and trade, was undoubtedly a strong factor. Another was that the strong Pennine streams and rivers were able to power the machine looms. Improvements in textile machinery (by Kay, Hargreaves and Arkwright), along with the development of turnpike roads (1751–1781), helped to develop the new cotton industry and to increase the local population..</p>
      </section>
    </article>
    <article class="vollkorn">
      <section class="inverted">
        <h2>Vollkorn</h2>
      </section>
      <section>
        <p>The earliest written record of the area is in the Domesday Book (1086).[13] Settlement in medieval Todmorden was dispersed, most people living in scattered farms or in isolated hilltop agricultural settlements. Packhorse trails were marked by ancient stones, of which many still survive.</p>
        <p>For hundreds of years streams from the surrounding hills provided water for corn and fulling mills. Todmorden grew to relative prosperity by combining farming with the production of woollen textiles. Some yeomen clothiers were able to build fine houses, a few of which still exist today. Increasingly, though, the area's industry turned to cotton. The proximity of Manchester, as a source of material and trade, was undoubtedly a strong factor. Another was that the strong Pennine streams and rivers were able to power the machine looms. Improvements in textile machinery (by Kay, Hargreaves and Arkwright), along with the development of turnpike roads (1751–1781), helped to develop the new cotton industry and to increase the local population..</p>
      </section>
    </article>
    <article class="open sans">
      <section class="inverted">
        <h2>Open Sans</h2>
      </section>
      <section>
        <p>The earliest written record of the area is in the Domesday Book (1086).[13] Settlement in medieval Todmorden was dispersed, most people living in scattered farms or in isolated hilltop agricultural settlements. Packhorse trails were marked by ancient stones, of which many still survive.</p>
        <p>For hundreds of years streams from the surrounding hills provided water for corn and fulling mills. Todmorden grew to relative prosperity by combining farming with the production of woollen textiles. Some yeomen clothiers were able to build fine houses, a few of which still exist today. Increasingly, though, the area's industry turned to cotton. The proximity of Manchester, as a source of material and trade, was undoubtedly a strong factor. Another was that the strong Pennine streams and rivers were able to power the machine looms. Improvements in textile machinery (by Kay, Hargreaves and Arkwright), along with the development of turnpike roads (1751–1781), helped to develop the new cotton industry and to increase the local population..</p>
      </section>
    </article>
    <article class="roboto">
      <section class="inverted">
        <h2>Roboto</h2>
      </section>
      <section>
        <p>The earliest written record of the area is in the Domesday Book (1086).[13] Settlement in medieval Todmorden was dispersed, most people living in scattered farms or in isolated hilltop agricultural settlements. Packhorse trails were marked by ancient stones, of which many still survive.</p>
        <p>For hundreds of years streams from the surrounding hills provided water for corn and fulling mills. Todmorden grew to relative prosperity by combining farming with the production of woollen textiles. Some yeomen clothiers were able to build fine houses, a few of which still exist today. Increasingly, though, the area's industry turned to cotton. The proximity of Manchester, as a source of material and trade, was undoubtedly a strong factor. Another was that the strong Pennine streams and rivers were able to power the machine looms. Improvements in textile machinery (by Kay, Hargreaves and Arkwright), along with the development of turnpike roads (1751–1781), helped to develop the new cotton industry and to increase the local population..</p>
      </section>
    </article>
    <article class="raleway">
      <section class="inverted">
        <h2>Raleway</h2>
      </section>
      <section>
        <p>The earliest written record of the area is in the Domesday Book (1086).[13] Settlement in medieval Todmorden was dispersed, most people living in scattered farms or in isolated hilltop agricultural settlements. Packhorse trails were marked by ancient stones, of which many still survive.</p>
        <p>For hundreds of years streams from the surrounding hills provided water for corn and fulling mills. Todmorden grew to relative prosperity by combining farming with the production of woollen textiles. Some yeomen clothiers were able to build fine houses, a few of which still exist today. Increasingly, though, the area's industry turned to cotton. The proximity of Manchester, as a source of material and trade, was undoubtedly a strong factor. Another was that the strong Pennine streams and rivers were able to power the machine looms. Improvements in textile machinery (by Kay, Hargreaves and Arkwright), along with the development of turnpike roads (1751–1781), helped to develop the new cotton industry and to increase the local population..</p>
      </section>
    </article>
    <article class="lato">
      <section class="inverted">
        <h2>Lato</h2>
      </section>
      <section>
        <p>The earliest written record of the area is in the Domesday Book (1086).[13] Settlement in medieval Todmorden was dispersed, most people living in scattered farms or in isolated hilltop agricultural settlements. Packhorse trails were marked by ancient stones, of which many still survive.</p>
        <p>For hundreds of years streams from the surrounding hills provided water for corn and fulling mills. Todmorden grew to relative prosperity by combining farming with the production of woollen textiles. Some yeomen clothiers were able to build fine houses, a few of which still exist today. Increasingly, though, the area's industry turned to cotton. The proximity of Manchester, as a source of material and trade, was undoubtedly a strong factor. Another was that the strong Pennine streams and rivers were able to power the machine looms. Improvements in textile machinery (by Kay, Hargreaves and Arkwright), along with the development of turnpike roads (1751–1781), helped to develop the new cotton industry and to increase the local population..</p>
      </section>
    </article>
  </main>
</Layout>

