:root {
  --pink: #FF757D;
  --purple: #2F2D76;
  --light: #d1d5db;
  --blue: #7AA2F7;
  --parchment: #f3f7e9;
  --paper: #f5f3e8;
  --dark:#303540;
  --black: #222;
  --green: #7EE787;
  --ft: #e9b5b8;
  --red: #fb3417;
  --white: #fff;
  --detective-red: #db5439;
  --detective-yellow: #eebe6d;
}

.colors {
  background: var(--bg);
  color: var(--fg);
}

.redwhite {
  --bg: var(--red);
  --fg: var(--white);
}

.purplepink {
  --fg: var(--purple);
  --bg: var(--pink);
}

.detective {
  --bg: var(--detective-red);
  --fg: var(--black);
  --entry-bg: var(--paper);
  .entry {
    background: var(--entry-bg)
  }
  em, strong {
    color: var(--detective-red);
  }
  .almere {
    background-color: var(--detective-yellow);
    color: var(--detective-red);
  }
  .bremen, .charleroi {
    color: var(--paper);
    background-color: var(--fg);
  }
}

body {
  background: var(--bg);
  color: var(--fg);
  p, li { color: var(--fg)}
  a { color: var(--fg)}
  @media (prefers-color-scheme: light) {
    --fg: var(--black);
    --bg: var(--white);
  }
  @media (prefers-color-scheme: dark) {
    --fg: var(--white);
    --bg: var(--black);
  }
}

.docs {
  a {
    color: #0079b1;
  }
}
