@use '../defaults';
@use '../colors';
@use '../fonts';

.story-grid {
  display: grid;
  grid-template-columns: 8fr 5fr;
  column-gap: 2rem;
  padding: 0 1.25rem 8rem;
}
.story-heading {
  grid-column: 1 / -1;
  font-size: 1.75rem;
  text-align: center;
}
.sticky-container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.photo-container {
  height: 60vh;
}
.text-block {
  min-height: 70vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width:768px) and (orientation:landscape) {
    padding: 1rem;
  }
}
p {
  font-size: 1.25rem;
}

img {
  height: 100%;
}


@media screen and (max-width: 768px) and (orientation:portrait)  {
  .story-grid {
    grid-template-columns: 1fr;
  }
  .story-photo {
    position: sticky;
    bottom: 0;
    top: 0;
    pointer-events: none;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .story-narrative {
    z-index: 150;
    margin-top: -40vh;
  }
  .mobile-text {
    padding-top: 40vh;
    padding-bottom: 40vh;
  }
  .mobile-text p {
    background-color: var(--bg);
    padding: 1rem;
  }
}

