<div class="mobile_drawer">
  <div class="top-row">
    <div class="logo-container"></div>
    <div class="button-container">
      <span id="draw-is-open"></span>
    </div>
  </div>
  <nav>
    <ul class="mobile-links">
      <li><a href="/">README</a></li>
      <li><a href="/changelog">CHANGELOG</a></li>
    </ul>
  </nav>
</div>
