---
import Layout from '../layouts/blank.astro';
---
<style lang="scss">
  .content {
    margin: 15px
  }
</style>
<Layout>
  <main class="content">
    <article>
      <section>
        <h2>Hello</h2>
        <p>Hello world</p>
      </section>
    </article>
  </main>
</Layout>

