.detective article .entry,
.detective .copy p,
.detective {
  font-family: 'Bitter', serif;
}

strong,
code,
article .entry .copy code {
  font-family: 'Source Code Pro', 'Fira Mono', 'Roboto Mono', monospace;
  color: var(--detective-red);
}

article .entry .copy ul li code {
  color: var(--white)
}

.copy h3,
.copy h2,
.copy h1 {
  color: var(--detective-red);
}

.copy p,
.copy li {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

h1 {
  font-size: clamp(2rem, 4vw, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 3.5vw, 2rem);
}

h3 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
}

h4 {
  font-size: clamp(1.125rem, 3vw, 1.5rem);
}

h4 {
  color: var(--paper);
  font-weight: 200
}

blockquote {
  margin: 0;
  padding: 1rem;
  border: none;
  display: block;
  width: 100%;
  // padding-top: 0px;
}


pre+blockquote {
  padding: 10px;
  border-radius: 5px;
  background-color: #e8a38f;
  padding: 1rem;
  padding-top: 0px;
  border-radius: 5px;
  margin-top: -1rem;
  border: 1px solid black;

  code {
    color: var(--white) !important
  }
}


.copy ul {
  background: var(--lightred);
  padding-bottom: 1rem;
  padding-top: 1rem;

  li {
    list-style: square;
  }
}


.coopy li {
  text-indent: 0rem;
  margin-bottom: 0.5em;
  text-align: left;
  margin-left: -2.5rem;
}

.copy p {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.copy ul li p:first-child {
  color: var(--white);
  background: var(--black);
  padding: 0.5rem;
  margin-left: -2.5rem;
  margin-top: -1rem
}

.copy ul li p:not(:first-child) {
  margin-right: 1rem;
  padding: 1rem;
  margin-left: -2.5rem;
  margin-top: -0.5rem;
  padding-top: 0px;

  .code {
    color: var(--white)
  }
}

article .entry .copy ul li p:last-child code {
  color: var(--white);
}

.copy ul li strong {
  color: var(--white);
}

article .entry .copy h4 {
  background: rgb(238, 190, 109);
  padding: 8px;
  margin-bottom: -1rem;
  display: block;
  width: 100%;
  background: var(--detective-red);

  code {
    color: white;
    color: var(--white);
  }
}
