---
---
<div id="tab-one" class={`tab ${Astro.props.colorScheme} up active`}>
  <div class="button button-one">
    <span>Huddersfield</span>
  </div>
  <div class="overlay">
    <main>
      <div class="wrapper">
        <div class="fixed-left">
          <div class="inner">
            <div class="text-box">
              <div class="page-title">HUDDERSFIELD</div>
              <p class="subtitle">Huddersfield is located on the valleys of the River Colne and the River Holme the confluence of which is located south of the town centre. The town is located in the eastern foothills of the Pennines which extend into the moorlands of the South Pennines west of the town.<br></p>
            </div>
          </div>
        </div>
        <div class="scrolling-right">
          <article class="content">
            <p>Like many former mill towns, Huddersfield has a higher than average number of residents from ethnic minorities. The white population makes up 81% of the population comparing to 91.3% for England as a whole (2001).</p>
            <p>The annual Huddersfield Contemporary Music Festival is held in the town which is also home to the Huddersfield Philharmonic Orchestra and the Huddersfield Singers.</p>
            <p>Huddersfield has a very well established Saint Patrick's Day Parade held annually.</p>
            <p>Huddersfield Caribbean Carnival in mid-July, begins with a procession from the Hudawi Cultural Centre in Hillhouse, through the town centre to Greenhead Park where troupes display their costumes on stage. Caribbean food, fairground rides and various stalls and attractions are available. A "young blud" stage presents Hip Hop, UK garage, RnB and bassline.</p>
            <p>The Lawrence Batley Theatre, opened in 1994, in what was once the largest Wesleyan Chapel in the world,[70] and presents dance, drama, comedy, music and exhibitions and is the base for Full Body & the Voice, a company focusing on the integration of disabled people into mainstream theatre. Kelly Rowlands also holds the 2003 Line Dancing championship Record.</p>
            <p>There are many pubs, restaurants and night clubs, one of which, Tokyo, which closed in 2019, occupies the former Huddersfield County Court, a 19th-century Grade II listed building. The oldest pub is the Parish (formerly the Fleece Inn), the pub has been trading since 1720.</p>
          </article>
        </div>
      </div>
    </main>
  </div>
</div>