<div id="tab-three" class={`tab ${Astro.props.colorScheme}`}>
  <div class="button button-three">
    <span>Swansea</span>
  </div>
  <div class="overlay slide">
    <main>
      <div class="wrapper">
        <div class="fixed-left">
          <div class="inner">
            <div class="text-box">
              <div class="page-title">SWANSEA</div>
              <p class="bold">
                Swansea (/ˈswɒnzi/; Welsh: Abertawe [abɛrˈtawɛ]) is a coastal city and the second-largest city of Wales. It forms a principal area, officially known as the City and County of Swansea (Welsh: Dinas a Sir Abertawe).[2] 
              </p>
            </div>
          </div>
        </div>
        <div class="scrolling-right">
          <article class="content">
            <img src="https://i.guim.co.uk/img/media/96a02fd643ba43345b90fbd83aeb5af72b5bb0da/0_0_2574_2060/master/2574.jpg?width=1920&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a5a7566ee2cc44c56adb6c364a650b54">
            <p>The city is the twenty-fifth largest in the United Kingdom. Located along Swansea Bay in southwest Wales, with the principal area covering the Gower Peninsula, it is part of the Swansea Bay region and part of the historic county of Glamorgan; also the ancient Welsh commote of Gŵyr.[3]</p>
            <p>The principal area is the second most populous local authority area in Wales with an estimated population of 246,563 in 2020.[4] Swansea, along with Neath and Port Talbot, forms the Swansea Urban Area with a population of 300,352 in 2011. It is also part of the Swansea Bay City Region.</p>
            <p>During the 19th-century industrial heyday, Swansea was the key centre of the copper-smelting industry, earning the nickname Copperopolis.[5][6] </p>
          </article>
        </div>
      </div>
    </main>
  </div>
</div>