<div id="tab-two" class={`tab ${Astro.props.colorScheme}`}>
  <div class="button button-two">
    <span>Preston</span>
  </div>
  <div class="overlay slide">
    <main>
      <div class="wrapper">
        <div class="fixed-left">
          <div class="inner">
            <div class="text-box">
              <div class="page-title">PRESTON</div>
              <p class="bold">By 1901, nearly 120,000 people were living in Preston, now a booming industrial town.</p>
              <p class="bold"> New industries arrived in Preston during the interwar years which helped ease the pain felt through the sharp decline of the cotton industry.<br></p>
            </div>
          </div>
        </div>
        <div class="scrolling-right">
          <article class="content">
            <img src="https://i.guim.co.uk/img/media/96a02fd643ba43345b90fbd83aeb5af72b5bb0da/0_0_2574_2060/master/2574.jpg?width=1920&amp;quality=85&amp;auto=format&amp;fit=max&amp;s=a5a7566ee2cc44c56adb6c364a650b54">
            <p>The River Ribble provides a southern border for the city. The Forest of Bowland forms a backdrop to Preston to the northeast while the Fylde lies to the west. At 53°45′N 2°42′W, Preston is approximately 27 miles (43 km) north west of Manchester, 26 miles (42 km) north east of Liverpool, and 15 miles (24 km) east of the coastal town Blackpool.</p>
            <p>The current borders came into effect on 1 April 1974, when the Local Government Act 1972 merged the existing County Borough of Preston with Fulwood Urban District as an unparished area within the Borough of Preston. Preston was designated as part of the Central Lancashire new town in 1970.</p>
            <p>The climate of Preston is of a temperate maritime type, with a narrow range of temperatures, similar to the rest of the British Isles. Being relatively close to the Irish sea, this is more pronounced than areas to the south and east of Preston. The official Met Office weather station is located at Moor Park, less than 1 mile (1.6 km) north of the city centre, and surrounded by built up areas, suggesting a degree of urban warming is likely, particularly during clear and calm nights.</p>
            <p>The demonym for residents of the city is "Prestonian", and the centre of the city is referred to by residents colloquially as "The Gate"</p>
            <p>Retail is also a major contributor to Preston's economy. The city's main high streets are Fishergate and Friargate which offer shops, bars and restaurants with many more tucked away down the side streets. Two major shopping centres are located along the high streets:</p>
            <p>Five main bus operators serve Preston. Preston Bus, formerly the city's municipal bus company, served the district and operated a route between Preston and Penwortham. In October 2006, Preston Bus started operating two orbital bus routes</p>
          </article>
        </div>
      </div>
    </main>
  </div>
</div>