.button-two {
  left: calc(100%/3);
}

.button-three {
  right: 0;
}

.button {
  position: absolute;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: calc(100%/3);
  top: -48px;
  background: inherit;
  cursor: pointer;
}

.tab.active .button {
  cursor: unset;
}

@media screen and (min-width: 768px) and (orientation:landscape) {
  .button {
    height: 100%;
    width: 40px;
    top: 0;
    left: 0;
  }
  .button span {
    transform: rotate(90deg);
    white-space: nowrap;
  }
}
