---
import Layout from '../layouts/scroll.astro';
---
<Layout>
  <main class="story-grid">
    <section class="story-heading">
      <h2>Scrolling Picture Page</h2>
    </section>
    <section class="story-photo">
      <div class="sticky-container">
        <h3 id="photo-label">Catpipe</h3>
        <div class="photo-container">
          <img id="photo" src="/images/u1.jpeg">
        </div>
      </div>
    </section>
    <section class="story-narrative">
      <div class="text-block">
        <div class="mobile-text">
          <p>Czech cat smoking a pipe</p>
        </div>
      </div>
      <div class="text-block">
        <div class="mobile-text">
          <p>Pebbles, seagulls, Estonian shore</p>
        </div>
      </div>
      <div class="text-block">
        <div class="mobile-text">
          <p>Ice skating is the self-propulsion and gliding of a person across an ice surface, using metal-bladed ice skates. People skate for various reasons, including recreation (fun), exercise, competitive sports, and commuting. Ice skating may be performed on naturally frozen bodies of water, such as ponds, lakes, canals, and rivers, and on human-made ice surfaces both indoors and outdoors.

            Natural ice surfaces used by skaters can accommodate a variety of winter sports which generally require an enclosed area, but are also used by skaters who need ice tracks and trails for distance skating and speed skating. Man-made ice surfaces include ice rinks, ice hockey rinks, bandy fields, ice tracks required for the sport of ice cross downhill, and arenas.</p>
        </div>
      </div>
      <div class="text-block">
        <div class="mobile-text">
          <p>Czech cat smoking a pipe again</p>
        </div>
      </div>
      <div class="text-block">
        <div class="mobile-text">
          <p>Pebbles, seagulls, Estonian shore</p>
        </div>
      </div>
    </section>
  </main>
  <script is:inline src="/files/scroll.js"></script>
</Layout>
