---
import Layout from '../layouts/default.astro';
---
<Layout>
  <main>  
    <section class="container">
      <h1 class="title">
          Huddersfield
      </h1>
      <p class="subtitle">
          West Yorkshire
      </p>
      <p>Like many former mill towns, Huddersfield has a higher than average number of residents from ethnic minorities. The white population makes up 81% of the population comparing to 91.3% for England as a whole (2001).</p>
      <p>The annual Huddersfield Contemporary Music Festival is held in the town which is also home to the Huddersfield Philharmonic Orchestra and the Huddersfield Singers.</p>
          
      <p>Huddersfield has a very well established Saint Patrick's Day Parade held annually.</p>
          
      <p>Huddersfield Caribbean Carnival in mid-July, begins with a procession from the Hudawi Cultural Centre in Hillhouse, through the town centre to Greenhead Park where troupes display their costumes on stage. Caribbean food, fairground rides and various stalls and attractions are available. A "young blud" stage presents Hip Hop, UK garage, RnB and bassline.</p>
    </section>
  </main>
</Layout>

