---
import Layout from '../layouts/default.astro';
---
<Layout>
  <main>
    <section class="container">
      <h1 class="title">
          Timeline
      </h1>
      <p class="subtitle">
          This page does not exist
      </p>
    </section>
  </main>
</Layout>

