---
import Layout from '../layouts/gists.astro';
const posts = await Astro.glob("./gists/*.mdx")
const sortedPosts = posts.sort((a, b) => new Date(b.frontmatter.publishDate).getTime() - new Date(a.frontmatter.publishDate).getTime());
const years = posts.map((a) => new Date(a.frontmatter.publishDate).getFullYear())
const uniqYears = years.filter((v, i, a) => a.indexOf(v) === i);
const allPosts = uniqYears.map((i) => {
  const post = sortedPosts.filter((x) => new Date(x.frontmatter.publishDate).getFullYear() === i)
  return post
})
---
<Layout>
  <main>
    {allPosts.map((y, i) => {
      return (
        <article>{y.map((item) => {
          const id = (sortedPosts.length - sortedPosts.indexOf(item)).toString()
          return (
            <div class="wrapper" id={id}>
              <div class="box almere">
                <span class="num">{id}</span>
              </div>
              <div class="box bremen"></div>
              <div class="box charleroi">
                {item.frontmatter.displayDate} {uniqYears[i]}
              </div>
            </div>
            <div class="entry">
              <div class="copy">
                <item.Content />
              </div>
            </div>
          )
        })}</article>
      )
    })}
  </main>
</Layout>
