---
import '../styles/blank/style.scss';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page Title</title>
    <base href="/">
    <meta content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="a1 cafe">
    <meta property="og:image" content="https://gists.io37.ch/files/coat.jpg">
    <link rel="shortcut icon" href="/favicon.ico">
    <link
      href="https://fonts.googleapis.com/css?family=.|Oswald:light,normal,bold|Oswald:light,normal,bold|Oswald:light,normal,bold|Roboto:light,normal,bold|Roboto:light,normal,bold|Raleway|Open+Sans:400,300,700"
      rel='stylesheet' type='text/css'
    >
</head>
  <body>
    <slot />
  </body>
</html>
