---
import "../styles/gists/style.scss"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dev.io37.ch</title>
    <base href="/" />
    <meta content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="a1 cafe" />
    <meta property="og:image" content="https://gists.io37.ch/files/coat.jpg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&Source+Code+Pro&family=Fira+Mono&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="detective">
    <slot />
  </body>
</html>
