<html lang="en-gb">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Info on which test branch has been pushed">
  <link rel="canonical" href="https://asda.io37.ch/workflow.html">
  <title>Workflow information</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&Source+Code+Pro&family=Fira+Mono&family=Roboto+Mono&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="workflow.css">
</head>

<body>
  <main>
    <a href="https://github.com/[REPO_NAME]/compare/[BRANCH_NAME]?expand=1">
      <table role="grid">
        <tr>
          <th class="key">Repo</th>
          <td class="value">[REPO_NAME]</td>
        </tr>
        <tr>
          <th class="key">Branch</th>
          <td class="value">[BRANCH_NAME]</td>
        </tr>
        <tr>
          <th class="key">Published</th>
          <td class="value">[DATE]</td>
        </tr>
      </table>
    </a>
  </main>
</body>

</html>
