body {
  --fg-color: #2E4D61;
  --bg-color: #E1E7F3;
  background: var(--bg-color);
  color: var(--fg-color);
}

main {
  font-family: 'Source Code Pro', 'Fira Mono', 'Roboto Mono', monospace;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.row {
  width: 100%;
  border: 1px solid var(--fg-color);
  font-weight: 700;
  line-height: 1.2;
  color: var(--fg-color);
  margin-bottom: -1px;
}

.key {
  background-color: var(--fg-color);
  color: var(--bg-color);
  padding: 4px 8px;
  text-align: left;
  width: 15%;
  border-bottom: 1px solid var(--bg-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--fg-color);
  font-weight: 700;
  line-height: 1.2;
  color: var(--fg-color);
  padding: 4px 8px;
}

tr:hover {
  background-color: #f0f0f0;
}
